body {
  background-image: url('../images/Pizza2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.hidden {
  display: none;
}

.container {
  padding: 30px;
  border: 5px solid tomato;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: tomato;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: tomato;
  text-shadow: 2px 2px #000;
}


select {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
  display: flex;
  justify-content: right;
  background-color: #fff;
  color: tomato;
  border: 2px solid tomato;
  padding: 10px 20px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: tomato;
  color: #fff;
}

#summary {
  margin-top: 30px;
  padding: 20px;
  border: 5px solid tomato;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}

#summary h3:last-of-type {
  margin-top: 30px;
  font-size: 2rem;
  color: tomato;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 20px;
}

select:hover {
  cursor: pointer;
}

label {
  font-family: 'Alkatra', cursive;
}

#error-message {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
}